.App {
  margin: 10px;
}

.card{
  margin: 5px;
}
.pilot{
  padding: 20px;
  font-size: 30px;
}

form{
  text-align: center;
  margin: 0 0 20px 0;
}

.container{
  background-color: white;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 5px 0;

}
.jumbotron{
  margin: 0 0 10px 0;
}

.wrapper{
  background-color: white;
  width: 387px;
  height: 430px;
  padding: 15px;
  float: left;
  margin: 5px 0px 5px 5px;
}

#root{
  max-width: 1200px;
  margin: 0 auto;
}

#vehicles{
  width: auto;

}
.whatsname{
  text-align: center;
  padding: 10px;

}
